<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janken</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div><br>
  <h1>Janken GAME</h1>
  <p>
    Hi [[${loginUser}]]
  </p>

  <h2>エントリー</h2>

  <div th:each="user : ${users}">
    <ul>
      <li><a th:herf="@{/match(id=${user.id})}">[[${user.name}]]</a></li>
    </ul>
  </div>

  <h2>試合結果</h2>
  <div th:if="${matches}">
    <ul>
      <li th:each="match : ${matches}">id:[[${match.getId()}]] user1:[[${match.getUser1()}]] user2:[[${match.getUser2()}]] user1の手:[[${match.getUser1Hand()}]] user2の手:[[${match.getUser2Hand()}]]</li>
    </ul>
  </div>

</body>

</html>
