<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janken</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div><br>
  <h1>Janken GAME</h1>
  <p>
    Hi [[${loginUser}]]
  </p>

  <h2>エントリー</h2>

  <ul>
    <li th:each="user : ${users}"><a th:herf="@{/match(id=${user.id})}">[[${user.getName()}]]</li>
  </ul>

  <h2>試合結果</h2>
  <div th:if="${matches}">
    <ul>
      <li th:each="match : ${matches}">id:[[${match.getId()}]] user1:[[${match.getUser1()}]] user2:[[${match.getUser2()}]] user1の手:[[${match.getUser1Hand()}]] user2の手:[[${match.getUser2Hand()}]]</li>
    </ul>
  </div>

  <form action="/janken" method="post">
    <a href="/jankengame?Playerhand=gu">ぐー</a>
    <a href="/jankengame?Playerhand=choki">ちょき</a>
    <a href="/jankengame?Playerhand=pa">ぱー</a>
  </form>
  <br>
  <div th:if="${Result}">
    <p>あなたの手:[[${Playerhand}]]</p>
    <p>相手の手:[[${Cpuhand}]]</p>
    <p>結果:[[${Result}]]</p>
  </div>

</body>

</html>
