<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janken</title>
</head>

<body>
    <div><a href="/logout">ログアウト</a></div><br>
    <h1>Match</h1>
    <h2>[[${loginUser}]] V.S. [[${aaa}]]</h2>

    <form action="/match" method="post">
        <a href="/jankengame?Playerhand=gu">ぐー</a>
        <a href="/jankengame?Playerhand=choki">ちょき</a>
        <a href="/jankengame?Playerhand=pa">ぱー</a>
      </form>
      <br>
      <div th:if="${Result}">
        <p>あなたの手:[[${Playerhand}]]</p>
        <p>相手の手:[[${Cpuhand}]]</p>
        <p>結果:[[${Result}]]</p>
      </div>

</body>

</html>