<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janken</title>
</head>

<body>
    <div><a href="/logout">ログアウト</a></div><br>
    <h1>Match</h1>
    <h2>[[${loginUser}]] V.S. [[${user.name}]]</h2>

    <div>
        <a href="/game?Player1=gu">ぐー</a>
        <a href="/game?Player1=choki">ちょき</a>
        <a href="/game?Player1=pa">ぱー</a>
    </div>
    <br>
    <div th:if="${Result}">
      <p>あなたの手:[[${Player1}]]</p>
      <p>相手の手:[[${Player2}]]</p>
      <p>結果:[[${Result}]]</p>
    </div>
    <a href="/janken">戻る</a>

</body>

</html>